body,
h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

.hero {
  position: relative;
  -webkit-user-select: none;
          user-select: none;
}

.hero iframe,
.map {
  position: absolute;
}

.map {
  width: 100%;
  height: 100%;
  cursor: default;
}

.map-blocker.disable-blocker {
  display: none;
}
.map-blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 0px;
  top: 0px;
  z-index: 1998;
}

.hero-text {
  pointer-events: none;
}

.hero-text h1,
.hero-text p {
  background-color: rgba(255, 255, 255, 0.80);
  padding: 0 16px 4px;
  display: inline-block;
}

.hero-text h1 {
  margin-top: 1.5em;
  font-size: 3rem;
  color: #0f86bd;
  letter-spacing: -0.04em;
  text-shadow: 0 1px 0 whitesmoke;
}

@media only screen and (min-width: 40.063em) {
  .hero-text h1 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 64.063em) {
  .hero-text h1 {
    font-size: 5rem;
  }
}

.hero-text h1 .lighter {
  color: #66b2d5;
}

.hero-text p {
  padding: 12px 16px;
  margin-top: 0.5em;
  font-size: 1.2em;
  color: #444;
}

@media only screen and (min-width: 40.063em) {
  .hero-text p {
    width: 75%;
  }
}

.button {
  border: 2px solid #444;
  border-radius: 3px;
  padding: 8px 12px;
  margin-bottom: 3em;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  color: #444;
}

.button:hover {
  background-color: #0078a0;
  color: white;
}

@media only screen and (max-width: 40.063em) {
  .button {
    display: block;
    margin: 0px auto;
    text-align: center;
  }
}

.headroom {
  margin-top: 2em;
}

h2 {
  color: #0f86bd;
  font-weight: 300;
}

.sponsored {
  font-size: 14px;
  font-weight: 400;
  color: #777;
  line-height: 36px;
  border-top: 1px solid #eee;
  padding: 1em;
  margin-bottom: 1em;
}

.sponsored img {
  height: 36px;
  margin-left: 0.5em;
  vertical-align: top;
}

table {
  width: 100%;
  /* temporary */
  max-width: 600px;
}

th {
  text-transform: uppercase;
  color: #66b2d5;
  text-align: left;
  font-size: 14px;
}

tr {
  border-bottom: 1px solid #eee;
}

td,
th {
  padding: 0.25em 0;
}

/* temporary */
th.download,
td.download {
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
}

td.download {
  color: #999;
}

td.preview {
  text-align: right;
}

a.preview {
  font-weight: 700;
  text-transform: uppercase;
  color: #444;
  font-size: 14px;
  /* temporary: disabled */
  display: none;
}

a.preview::after {
  content: '»';
  margin-left: 0.5em;
}

.poi-label {
  position: absolute;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  z-index: 10;
}

.poi-label-inner {
  padding: 2px;
  background: white;
  opacity: 0.75;
}

.last-refresh {
  font-style: italic;
  color: #777;
}

.old-browser {
  display: none;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  background-color: lightyellow;
}

html.no-webgl .old-browser {
  display: block;
}
