body,
h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

.hero {
  position: relative;
  -webkit-user-select: none;
          user-select: none;
}

.hero iframe,
.map {
  position: absolute;
}

.map {
  width: 100%;
  height: 100%;
  cursor: default;
}

.map-blocker.disable-blocker {
  display: none;
}
.map-blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 0px;
  top: 0px;
  z-index: 1998;
}

.hero-text {
  pointer-events: none;
}

.hero-text h1,
.hero-text p {
  background-color: rgba(255, 255, 255, 0.80);
  padding: 0 16px 4px;
  display: inline-block;
}

.hero-text h1 {
  margin-top: 1.5em;
  font-size: 3rem;
  color: #0f86bd;
  letter-spacing: -0.04em;
  text-shadow: 0 1px 0 whitesmoke;
}

@media only screen and (min-width: 40.063em) {
  .hero-text h1 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 64.063em) {
  .hero-text h1 {
    font-size: 5rem;
  }
}

.hero-text h1 .lighter {
  color: #66b2d5;
}

.hero-text p {
  padding: 12px 16px;
  margin-top: 0.5em;
  font-size: 1.2em;
  color: #444;
}

@media only screen and (min-width: 40.063em) {
  .hero-text p {
    width: 75%;
  }
}

.button {
  border: 2px solid #444;
  border-radius: 3px;
  padding: 8px 12px;
  margin-bottom: 3em;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  color: #444;
}

.button:hover {
  background-color: #0078a0;
  color: white;
}

@media only screen and (max-width: 40.063em) {
  .button {
    display: block;
    margin: 0px auto;
    text-align: center;
  }
}

.headroom {
  margin-top: 2em;
}

h2 {
  color: #0f86bd;
  font-weight: 300;
}

.sponsored {
  font-size: 14px;
  font-weight: 400;
  color: #777;
  line-height: 36px;
  border-top: 1px solid #eee;
  padding: 1em;
  margin-bottom: 1em;
}

.sponsored img {
  height: 36px;
  margin-left: 0.5em;
  vertical-align: top;
}

table {
  width: 100%;
  /* temporary */
  max-width: 600px;
}

th {
  text-transform: uppercase;
  color: #66b2d5;
  text-align: left;
  font-size: 14px;
}

tr {
  border-bottom: 1px solid #eee;
}

td,
th {
  padding: 0.25em 0;
}

/* temporary */
th.download,
td.download {
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
}

td.download {
  color: #999;
}

td.preview {
  text-align: right;
}

a.preview {
  font-weight: 700;
  text-transform: uppercase;
  color: #444;
  font-size: 14px;
  /* temporary: disabled */
  display: none;
}

a.preview::after {
  content: '»';
  margin-left: 0.5em;
}

.poi-label {
  position: absolute;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  z-index: 10;
}

.poi-label-inner {
  padding: 2px;
  background: white;
  opacity: 0.75;
}

.last-refresh {
  font-style: italic;
  color: #777;
}

.old-browser {
  display: none;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  background-color: lightyellow;
}

html.no-webgl .old-browser {
  display: block;
}

.anchor-fragment {
  display: none;
  width: 1.5em;
  height: 20px;
  margin-left: -0.25em;
  vertical-align: middle;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%2252%22%20viewBox%3D%220%200%20100%2052%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M47.807%2033.138c.008-.01.016-.02.024-.026l-.025.023s0%20.002.002.003zM53.048%2049.8c-.274-.07-.545-.152-.815-.232l-.007.003c.26.078.534.156.822.23zM36.33%2035.5h-.004c.204.523.496%201.115.783%201.652h.012c-.284-.54-.548-1.09-.792-1.65z%22%2F%3E%3Cpath%20d%3D%22M37.108%2037.152c.29.544.577%201.03.758%201.332-.263-.436-.508-.882-.746-1.332h-.012zM38.062%2038.804h.006c-.048-.08-.1-.152-.147-.23l.142.23zM51.812%2049.445c-.63-.197-1.25-.424-1.856-.67-.003.003-.007.004-.01.005.06.025.782.324%201.866.665zM52.226%2049.57l.007-.003c-.106-.03-.213-.057-.318-.09.1.032.205.064.31.093z%22%2F%3E%3Cpath%20d%3D%22M74.458.955H59.32c-1.306%200-2.59.1-3.844.293-.273.042-.54.1-.81.15%204.645%202.667%208.468%206.606%2010.986%2011.344h9.584c7.322%200%2013.257%205.937%2013.257%2013.26%200%207.32-5.936%2013.257-13.257%2013.257H58.68c-3.305%200-6.324-1.213-8.646-3.213l-.003.003v-.003c-.495-.414-.887-.802-1.207-1.148-.7-.765-1.01-1.304-1.01-1.304v-.003-.003c-1.506-2.15-2.39-4.766-2.39-7.59%200-2.745.834-5.295%202.263-7.412.04-.06.086-.117.127-.176-1.736-1.473-3.978-2.367-6.43-2.367h-5.04c-1.325%203.052-2.067%206.416-2.067%209.956%200%203.54.737%206.904%202.06%209.956.245.56.51%201.11.793%201.65.236.45.48.897.745%201.333l.054.087c.046.08.098.152.146.23%202.792%204.464%206.948%207.98%2011.888%209.974.608.246%201.226.473%201.856.67.034.01.068.022.103.03.105.035.212.062.318.092.27.08.542.16.816.232.004%200%20.006.002.01.003%202%20.513%204.096.787%206.254.787h15.137C88.29%2051.044%2099.5%2039.83%2099.5%2026%2099.503%2012.17%2088.29.955%2074.46.955z%22%2F%3E%3Cpath%20d%3D%22M25.542%2051.045H40.68c1.307%200%202.59-.1%203.845-.294.273-.04.542-.1.81-.15-4.645-2.665-8.47-6.604-10.986-11.342h-9.586c-7.322%200-13.257-5.936-13.257-13.26%200-7.32%205.935-13.256%2013.257-13.256H41.32c3.303%200%206.322%201.212%208.644%203.212l.002-.003c0%20.002%200%20.003.002.004.495.413.887.8%201.206%201.148.7.762%201.01%201.302%201.01%201.302v.003l.002.003c1.505%202.15%202.39%204.766%202.39%207.588%200%202.746-.835%205.297-2.264%207.412-.04.062-.085.118-.127.176%201.736%201.474%203.98%202.37%206.43%202.37h5.04c1.325-3.054%202.066-6.418%202.066-9.958s-.736-6.903-2.06-9.955c-.244-.56-.51-1.11-.792-1.65-.237-.452-.482-.9-.746-1.333l-.053-.09c-.05-.077-.1-.152-.148-.23-2.792-4.462-6.95-7.98-11.888-9.972-.608-.245-1.226-.47-1.856-.67-.034-.01-.068-.02-.103-.032-.105-.032-.212-.06-.318-.09-.27-.08-.54-.16-.816-.23l-.008-.003c-2-.515-4.095-.788-6.255-.788H25.542C11.71.955.498%2012.167.498%2026S11.71%2051.044%2025.542%2051.044zM53.058%2049.803c-.003%200-.006-.003-.01-.003.004%200%20.007.002.01.003zM51.812%2049.445c.034.01.068.022.103.03-.034-.007-.068-.02-.103-.03z%22%2F%3E%3Cpath%20d%3D%22M47.805%2033.14s.31.54%201.01%201.304c.006-.006.01-.012.017-.015-.37-.408-.71-.84-1.025-1.292l-.002.003zM37.92%2038.572l-.054-.088c.02.03.036.058.054.088zM48.832%2034.43c-.006.002-.01.008-.016.014.32.347.71.734%201.206%201.148%200-.002.002-.003.002-.003-.42-.363-.82-.75-1.192-1.16zM50.027%2035.592c0-.003.004-.006.012-.015l-.016.012s.002%200%20.003.002z%22%2F%3E%3Cpath%20d%3D%22M50.022%2035.59h.004v.004h-.004z%22%2F%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 1em;
}

.anchor-fragment:hover,
.city-name:hover + .anchor-fragment {
  display: inline-block;
}
