<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='x-ua-compatible' content='ie=edge'>
  <title>OpenVenues, sponsored by Mapzen</title>

  <meta name='description' content=''>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css'>
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css'>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic|Raleway:100'>
  <link rel='stylesheet' href='stylesheets/vendor/foundation.min.css'>
  <link rel='stylesheet' href='stylesheets/main.css'>
  <link rel='shortcut icon' href='./favicon.ico'>

  <script src='scripts/modernizr.custom.7106.js'></script>
</head>
<body>
  <div class='old-browser'>
    You are using an <strong>outdated</strong> browser without WebGL support. You can still download the data below, but demos and previews will not work. You can <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.
  </div>

  <section class='hero' id='hero' role='banner'>
    <div class='map' id='map'></div>
    <div class='map-blocker'></div>

    <div class='hero-text row'>
      <div class='large-12 columns'>
        <h1><span class='lighter'>Open</span>Venues</h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis nulla risus, ut consectetur quam euismod vitae. Phasellus.
        </p>
      </div>
    </div>
  </section>

  <section role='main'>

    <div class='row headroom'>
      <div class='large-12 columns'>
        <h2>About the data</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit nunc id eros euismod vulputate. Aliquam molestie mi pharetra, egestas purus nec, malesuada enim. Proin facilisis mi mauris, sed accumsan diam mollis ac. Pellentesque pellentesque ac quam quis imperdiet. Donec ornare ex eget dolor pretium, ut efficitur mauris euismod. Cras at cursus enim. Cras ultricies egestas ante, sed condimentum sem. Maecenas posuere lectus <a href='http://commoncrawl.org/'>Common Crawl</a>, ac rutrum massa ultricies et. Curabitur vel rutrum ante. Quisque viverra placerat posuere.
        </p>

        <p>
          Pellentesque in auctor orci, et pulvinar neque. Praesent nunc est, tincidunt sed dolor non, interdum semper tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ac augue convallis, posuere ligula ut, dapibus sapien. Aenean venenatis sed sapien ac auctor. Vivamus quis diam ut tellus vulputate egestas. Duis erat nibh, imperdiet at purus at, placerat varius nulla. Sed pretium lacus velit, sit amet commodo ligula dignissim eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi accumsan ante sed ipsum pretium tincidunt. Aenean erat urna, fringilla ut urna vitae, rutrum egestas libero. Ut eu ex viverra magna auctor placerat vel ut est. Etiam ut ligula lorem.
        </p>

        <p>
          <a href='https://github.com/openvenues/openvenues/' class='small button'>View source code</a>
        </p>
      </div>
    </div>

    <div class='row headroom'>
      <div class='large-12 columns'>
        <h2>Data downloads</h2>

        <p class='last-refresh'>This data was last refreshed on <span class='date'>{{ dateRefreshed }} at about {{ timeRefreshed}} UTC</span>.</p>

        <table role='grid'>
          <thead>
            <tr>
              <th class='city' abbr='City'>City</th>
              <th class='download' abbr='Link'>Download link</th>
              <th class='preview' abbr='Extra'></th>
            </tr>
          </thead>
          <tbody>
            {{ #manifest }}
            <tr id='{{ id }}'>
              <td class='city' scope='row'><strong>{{ cityname }}</strong></td>
              <td class='download'><a href='http://s3.amazonaws.com/openvenues-static-public/{{{ filename }}}' class='js--download-link' data-name='{{ cityname }}' data-format='geojson'>GeoJSON</a> – {{ formattedsize }}</td>
              <td class='preview'><a href='' class='preview'>Preview</a></td>
            </tr>
            {{ /manifest }}
          </tbody>
        </table>

        <p class='headroom'>
        <a href='{{{ planet }}}' class='small button js--download-link' data-name='planet' data-format='geojson'>Download the entire planet</a>
        </p>
      </div>
    </div>

    <div class='row headroom'>
      <div class='large-12 columns'>
        <h2>Contact us</h2>

        <p>
          Got questions, comments, fan mail or favorite documentary suggestions? <a href='mailto:contact@openvenues.io'>Send us some electronic mail.</a>
        </p>
      </div>
    </div>

  </section>

  <footer>
    <div class='row headroom'>
      <div class='large-4 large-offset-4 columns text-center sponsored'>
        Sponsored by <a href='https://mapzen.com/'><img src='images/mapzen-logo.png' alt='Mapzen'></a>
      </div>
    </div>
  </footer>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47035811-3', 'auto');
    ga('send', 'pageview');
  </script>

  <script src='//code.jquery.com/jquery-2.1.3.min.js'></script>
  <script src='scripts/vendor/foundation.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js'></script>
  <script src='https://mapzen.com/tangram/0.1/tangram.min.js'></script>

  <script>
    $(document).foundation();
  </script>
  <script>
    var heroEl = document.getElementById('hero')
    var blocker = document.getElementsByClassName('map-blocker')[0]
    var justTouchedDemoContainer

    function setHeroContainerHeight () {
      var viewportHeight = document.documentElement.clientHeight
      var minHeight = 600
      var maxHeightPercentage = 0.6
      heroEl.style.height = Math.max(minHeight, Math.floor(maxHeightPercentage * viewportHeight)) + 'px'
    }

    $(document).ready(function () {
      setHeroContainerHeight()
      window.addEventListener('resize', setHeroContainerHeight)

      // Attach analytics to links
      $('body').on('click', 'a.js--download-link', function () {
        var $this = $(this)
        var name = $this.data('name')
        var format = $this.data('format')
        if (typeof ga !== 'undefined') {
          ga('send', 'event', 'dataset', 'download', name, format)
        }
      })
    })

    heroEl.addEventListener('mouseover', function (e) {
      if (!justTouchedDemoContainer) {
        blocker.classList.add('disable-blocker')
      }
    })
    heroEl.addEventListener('mouseout', function (e) {
      blocker.classList.remove('disable-blocker')
    })
    heroEl.addEventListener('touchstart', function (e) {
      blocker.classList.remove('disable-blocker')
      justTouchedDemoContainer = setTimeout(function () {
        clearTimeout(justTouchedDemoContainer)
      }, 2000)
    })
  </script>
  <script src='scripts/map.js'></script>

</body>
</html>
